<h1 class="title"> Products </h1>

<div class="tabs">
  <ul>
    <%= tag.li class: "#{'is-active' if @search.blank?}" do %>
      <%= link_to "All products", products_url %> 
    <% end %>
    <%= tag.li class: "#{'is-active' if @search == 'apple'}" do %>
      <%= link_to "Apple", products_url(title: :apple) %> 
    <% end %>
  </ul>
</div>

<div class="tile">
  <%= render @products[0..5] %>
</div>

<% if @products.count > 5 %>
  <div class="tile">
    <%= render @products[5..] %>
  </div>
<% end %>
